@model WNC_G13.Models.Project

<h2>Tạo Dự Án</h2>

<link rel="stylesheet" href="~/css/styles.css" />

<form asp-action="Create">
    <input type="hidden" asp-for="OrganizationId" value="@ViewBag.OrganizationId" />
    <div class="form-group">
        <label asp-for="Name" class="control-label">Tên dự án</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Người tạo (ID)</label>
        <input type="text" class="form-control" value="@ViewBag.UserId" readonly />
    </div>

    <div class="form-group">
        <label>Mã tổ chức</label>
        <input type="text" class="form-control" value="@ViewBag.OrganizationId" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Mô tả</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status" class="control-label">Trạng thái</label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Tạo mới</button>
    
</form>
